// Styles
@import '@/styles/styles';

.aboutContact {
    min-width: 100%;
    @extend %display-flex-flex-direction-column;
    align-items: center;
    margin-top: 5.5rem;
    margin-bottom: 7rem;
    font-size: 1em;

    &__title {
        min-width: 20%;
        @extend %display-flex-align-items-center-justify-content-center;
        border-style: dotted none dotted none;
        border-color: white;
        padding: 12px 0 12px 0;
        margin-bottom: 30px;

        p {
            margin: 0;
            font-family: $VastShadow;
            font-size: 2rem;
            color: white;
        }
    }

    @media screen and (max-width: 570px) {
        &__title {
            p {
                font-size: 1.8rem;
            }
        }
    }

    @media screen and (max-width: 500px) {
        &__title {
            p {
                font-size: 1.7rem;
            }
        }
    }

    @media screen and (max-width: 425px) {
        &__title {
            p {
                font-size: 1.5rem;
            }
        }
    }

    @media screen and (max-width: 320px) {
        &__title {
            p {
                font-size: 1.35rem;
            }
        }
    }

    &__container {
        max-width: 90%;
        @extend %display-flex-align-items-center-justify-content-center;
    }

    &__left {
        @extend %display-flex-align-items-center;
        justify-content: end;
        z-index: 1;

        img {
            max-width: 230px;
            filter: 
                grayscale(100%) 
                contrast(145%) 
                drop-shadow(4px 4px 10px rgb(0, 0, 0))
            ;
            transition: all 1s;
        }

        img:hover {
            transform: scale(1.1);
        }
    }

    &__right {
        padding: 0 10px;
        min-height: 450px;
        max-width: 60%;
        background: rgb(25,32,45);
        background: linear-gradient(180deg, rgba(25,32,45,1) 40%, rgba(67,72,82,1) 100%);
        @extend %display-flex-flex-direction-column;
        justify-content: center;
        align-items: center;
        margin-left: -20px;

        &__about {
            max-width: 90%;

            p {
                margin: 0 0 4% 0;
                font-family: $Inter;
                font-size: 1.9em;
                letter-spacing: 1.2px;
                line-height: 2.5rem;
                color: white;
                text-align: center;
            }

            span {
                font-size: 1.7rem;
                font-weight: 600;
            }
        }

        &__contact {
            max-width: 90%;

            p {
                margin: 0;
                font-family: $Inter;
                font-size: 1.8em;
                letter-spacing: 1.2px;
                line-height: 2.5rem;
                color: white;
                text-align: center;
            }
        }

        &__mailto {
            max-width: 90%;
            margin-top: 2%;

            button {
                all: unset;
                padding: 5px 15px;
                border-radius: 5px;
                background: rgba(136, 134, 134, 0.25);
                box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
                backdrop-filter: blur(4.5px);
                border-radius: 10px;
                transition: all 0.7s;
            }

            button:hover {
                transform: scale(1.1);
            }

            a {
                text-decoration: none;
            }

            p {
                margin: 0;
                font-family: $Inter;
                font-size: 1.7em;
                font-weight: 600;
                letter-spacing: 1.2px;
                line-height: 2.5rem;
                color: white;
                text-align: center;
            }

        }
    }
}

// Media Queries

@media screen and (max-width: 1024px) {
    .aboutContact {
        font-size: 0.9em !important;

        &__left {
            img {
                max-width: 215px;
            }
        }

        &__right {
            min-height: 420px;
            max-width: 70%;

            &__about {
                span {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .aboutContact {
        font-size: 0.9em !important;

        &__container {
            max-width: 90%;
        }

        &__left {
            display: none;
        }

        &__right {
            min-height: 420px;
            max-width: 100%;
            margin-left: 0;
            border-radius: 10px;
            padding: 10px 0;

            &__about {
                span {
                    font-size: 0.9em;
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .aboutContact {
        font-size: 0.75em !important;

        p {
            line-height: 22px;
        }

        &__right {
            min-height: 380px;
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 320px) {
    .aboutContact {
        font-size: 0.6em !important;

        p {
            line-height: 18px;
        }

        &__right {
            min-height: 320px;
        }
    }
}