
// Styles
@import './styles';

%initial-settings {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    @extend %initial-settings;
    background-color: $Black;
}

body::-webkit-scrollbar {
    width: 13px;
  }
  
body::-webkit-scrollbar-track {
    background: #3d434d6e;
  }
  
body::-webkit-scrollbar-thumb {
    background-color: #363d49;
    border-radius: 20px;
}

#root {
    @extend %initial-settings;
}