// Styles
@import '@/styles/styles';

.nav-section {
    min-width: 100%;
    padding: 1% 0 1% 0;
    background-color: $Black;
    position: fixed;
    z-index: 3;
    @extend %display-flex-align-items-center-justify-content-center;
    box-shadow: 0px 15px 10px -15px rgb(248, 248, 248);   
}

.nav {
    min-width: 95%;
    min-height: 140px;
    border: 3px solid white;
    @extend %display-flex-align-items-center-justify-content-center;

    &__rectangule {
        min-width: 97.5%;
        min-height: 110px;
        background-color: white;
        @extend %display-flex;
        justify-content: space-around;

        &__logo {
            min-width: 10%;
            min-height: 110px;
            @extend %display-flex-align-items-center;

            &__image {
                max-width: 115px;
                margin-left: 10%;
                transition: all 1s;
            }

            &__image:hover {
                transform: scale(1.1) rotate(-20deg);
            }
        }

        &__links {
            min-width: 75%;
            min-height: 110px;
            @extend %display-flex-align-items-center-justify-content-center;

            &__container {
                min-width: 85%;
                min-height: 35px;
                border-bottom: 4px solid $Black;
                margin-left: 5%;
                @extend %display-flex-align-items-center-justify-content-center;
                gap: 7%;

                a:link {
                    text-decoration: none;
                }

                a:visited {
                    color: $Black;
                }

                &__text {
                    margin: 0;
                    font-family: $ChauPilomene;
                    font-size: 1.9rem;
                    letter-spacing: 1.2px;
                    transition: transform 0.4s;
                }

                &__text:hover {
                    transform: scale(1.2);
                    color: #29496c;
                }

                &--mobile {
                    display: none;
                }
            }

            @media screen and (max-width: 768px) {
                &__container {
                    display: none;

                    &--mobile {
                        display: block;

                        .fa-bars {
                            font-size: 3.3rem;
                            transition: all 0.5s;
                        }

                        .fa-bars:hover {
                            transform: scale(1.2);
                        }

                        &__section {
                            display: none;
                            position: absolute;
                            width: 100%;
                            min-height: 100vh;
                            top: 0;
                            left: 0;
                            background: rgba(0,0,0,0.5);
                            box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
                            backdrop-filter: blur(20px);
                            border-radius: 10px;

                            .fa-circle-xmark {
                                color: white;
                                font-size: 4rem;
                                transition: all 0.4s;
                            }

                            .fa-circle-xmark:hover {
                                transform: scale(1.2);
                            }

                            &__text {
                                min-width: 100%;
                                min-height: 100vh;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                gap: 30px;

                                a:link {
                                    text-decoration: none;
                                }
                
                                a:visited {
                                    color: white;
                                }

                                &__p {
                                    margin: 0;
                                    font-family: $ChauPilomene;
                                    font-size: 4rem;
                                    letter-spacing: 1.2px;
                                    transition: transform 0.4s;
                                }
                
                                &__p:hover {
                                    transform: scale(1.2);
                                    color: #93c7ff;
                                }
                            }
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 768px) {
            &__links {
                min-width: 50%;
            }
        }
        
        &__social {
            min-width: 15%;
            min-height: 110px;
            @extend %display-flex-align-items-center-justify-content-center;

            &__container {
                min-height: 60px;
                @extend %display-flex-align-items-center-justify-content-center;
                gap: 35%;

                a:link {
                    color: $Black;
                    transition: transform 0.4s;
                }

                a:visited {
                    color: $Black;
                }
                
                a:hover {
                    transform: scale(1.2);
                    color: #29496c;
                }

                .fa-linkedin {
                    font-size: 30px;
                }

                .fa-github {
                    font-size: 30px;
                }
            }
        }
    }
}