// Styles
@import '@/styles/styles';

.nav-section {
    min-width: 100%;
    max-width: 100%;
    padding: 15px 0 10px 0;
    background-color: $Black;
    position: fixed;
    z-index: 3;
    @extend %display-flex-align-items-center-justify-content-center;
    box-shadow: 0px 15px 10px -15px rgb(248, 248, 248);   
}

.nav {
    min-width: 95%;
    min-height: 150px;
    border: 3px solid white;
    @extend %display-flex-align-items-center-justify-content-center;

    &__rectangule {
        min-width: 97.5%;
        min-height: 110px;
        background-color: white;
        @extend %display-flex;
        justify-content: space-between;

        &__logo {
            min-width: 10%;
            max-width: 15%;
            min-height: 110px;
            @extend %display-flex-align-items-center;

            &__image {
                max-width: 130px;
                margin-left: 20px;
                transition: all 1s;
            }

            &__image:hover {
                transform: scale(1.1) rotate(-20deg);
            }
        }

        &__links {
            min-width: 60%;
            min-height: 110px;
            @extend %display-flex-align-items-center-justify-content-center;

            &__container {
                min-width: 75%;
                min-height: 35px;
                border-bottom: 4px solid $Black;
                @extend %display-flex-align-items-center;
                justify-content: space-around;

                a:link {
                    text-decoration: none;
                }

                a:visited {
                    color: $Black;
                }

                a:active {
                    color: #29496c;
                }

                &__text {
                    margin: 0;
                    font-family: $ChauPilomene;
                    font-size: 20px;
                    letter-spacing: 1.2px;
                    transition: transform 0.4s;
                }

                &__text:hover {
                    transform: scale(1.2);
                    color: #29496c;
                }
            }
        }
        
        &__social {
            min-width: 10%;
            max-width: 15%;
            min-height: 110px;
            @extend %display-flex-align-items-center-justify-content-center;

            &__container {
                min-width: 160px;
                min-height: 60px;
                @extend %display-flex-align-items-center-justify-content-center;
                gap: 20px;

                a:link {
                    color: $Black;
                    transition: transform 0.4s;
                }

                a:visited {
                    color: $Black;
                }
                
                a:hover {
                    transform: scale(1.2);
                    color: #29496c;
                }

                .fa-linkedin {
                    font-size: 30px;
                }

                .fa-github {
                    font-size: 30px;
                }
            }
        }
    }
}