// Styles
@import '@/styles/styles';

.skillset {
    min-width: 100%;
    margin-top: 7rem;
    margin-bottom: 7rem;
    @extend %display-flex-flex-direction-column;
    align-items: center;

    &__title {
        min-width: 20%;
        @extend %display-flex-align-items-center-justify-content-center;
        border-style: dotted none dotted none;
        border-color: white;
        padding: 12px 0 12px 0;
        margin-bottom: 40px;

        p {
            margin: 0;
            font-family: $VastShadow;
            font-size: 2rem;
            color: white;
        }
    }

    @media screen and (max-width: 570px) {
        &__title {
            p {
                font-size: 1.8rem;
            }
        }
    }

    @media screen and (max-width: 500px) {
        &__title {
            p {
                font-size: 1.7rem;
            }
        }
    }

    @media screen and (max-width: 425px) {
        &__title {
            p {
                font-size: 1.5rem;
            }
        }
    }

    @media screen and (max-width: 320px) {
        &__title {
            p {
                font-size: 1.35rem;
            }
        }
    }

    &__container {
        max-width: 80%;
        @extend %display-flex-align-items-center-justify-content-center;
        flex-wrap: wrap;
        gap: 30px 40px;
    }

    @media screen and (max-width: 425px) {
        &__container {
            gap: 15px 34px;
        }
    }

    &__card {
        min-width: 300px;
        min-height: 180px;

        &__top {
            min-height: 140px;
            min-width: 100%;
            @extend %display-flex-align-items-center-justify-content-center;
            background: rgb(255, 255, 255);
            box-shadow: 20px 20px 40px -6px rgba(223, 222, 222, 0.261);
            backdrop-filter: blur(20px);
            border-radius: 10px 10px 0 0;

            img {
                max-width: 110px;
                transition: all 0.7s;
            }

            img:hover {
                transform: scale(1.2);
            }
        }

        &__bottom {
            min-width: 100%;
            min-height: 40px;
            background-color: #272626;
            @extend %display-flex-align-items-center-justify-content-center;

            p {
                margin: 0;
                font-family: $ChauPilomene;
                font-size: 1.8rem;
                color: white;
                letter-spacing: 1px;
            }
        }
    }

    @media screen and (max-width: 425px) {
        &__card {
            min-width: 240px;
            min-height: 150px;
    
            &__top {
                min-height: 100px;
                min-width: 100%;
    
                img {
                    max-width: 80px;
                }

            }
    
            &__bottom {
                min-height: 30px;
    
                p {
                    font-size: 1.6rem;
                }
            }
        }
    }

}

.linkAboutContact {
    position: relative;
    min-width: 30px;
    min-height: 10px;
    bottom: 3rem;
}

// Media Queries

@media screen and (max-width: 1024px) {
    .skillset {
        margin-bottom: 6rem;
    }
}

@media screen and (max-width: 425px) {
    .skillset {
        margin-top: 4rem;
        margin-bottom: 3rem;
    }
}